#chat {
    display: flex;
}

form { margin: 0 !important }

.conversa {
    display: flex;
    flex-direction: column;
    width: 71%;
}

.conversa .conversa-box {
    padding: 0vh .5vw;
    display: flex;
    flex-direction: column;
}

.conversa .info-contact {
    height: 8.5vh;
    padding: 5px 0;
    align-items: center;
    justify-content: left;
    display: flex;
    width: 100%;
    background-color: #e4e4e4;
}

.conversa .info-contact > i {
    margin: 0px 15px;
}
.conversa .message-group {
    margin: 0;
    display: flex;
}

.conversa .text-box {
    height: 65vh;
    flex-direction: column;
    display: flex;
    overflow: auto;
    margin: .5vh 0vw;
}

.black {
    background-color: #f1f1f1;
    color: rgb(68, 68, 68);
}

.white {
    background-color: rgb(68, 68, 68);
    color: #f1f1f1;
}

.text-box .left {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
}

.text-box .right {
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}

.text-box label {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0px;
}
.message-group input {
    background: rgb(68, 68, 68);
    border-radius: 5px;
    color: #f1f1f1;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    width: 96.5%;
    padding: 0px 15px;
    border-bottom: 1px solid rgb(68, 68, 68);
    margin: 0 !important;
}
.message-group .icon {
    line-height: 2;
    color: #f1f1f1;
    padding: 2px;
    margin: 0px 0px 0px -30px;
}
.fa-user-circle:before {
    font-size: 45px;
    align-items: center;
}

.select-conversation {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 69.5vw;
}

.select-conversation > h1 {
    font-weight: 300;
}