#contacts {
    width: 29vw;
}

.header-contacts {
    background-color: #e4e4e4;
    display: flex;
    padding: 5px;
    align-items: center;
    height: 8.5vh;
    border-right: .5vh solid #53565a;
}

.header-contacts > i {
    margin: 0px 10px;
    font-size: 30px;
}

.contact-box {
    border-right: .5vh solid #53565a;
    height: 74vh;
    overflow:auto;
}

.contact-group {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    height: 8.5vh;
    margin: 3px 0vw 0vh 0vw;
}

.contact-group:hover {
    background-color: #e4e4e4;
    transition: 0.3s
}

.contact-group > i {
    margin: 0px 10px;
}

.contact-box input{
    border-radius: 5px;
    align-items: center;
    color: black;
    background: #f1f1f1;
    margin: 5px 33px;
    justify-content: flex-start;
    width: 50vh;
    border-bottom: 1px solid #f1f1f1;
}

.contact-box .iconn{
    margin: 0px -55px 10px;
}


.contact-group:hover {
    cursor:pointer;
}

.new-message {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #EF7917;
}

.contact-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
}