.closeModal {
    color: #000
}

.closeModal:hover {
    background-color: #d1d0d0 !important;
    color: #000 !important;
}

.modalTitle:hover{
    cursor: pointer;
    color: black;
    transition: 0.8s;
}

.modalTitle{
    color: #ef7917;
}