#phone {
    height: 80vh;
    display: flex;
}

.Ligacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 3;
}

.keypad{
    border-top: 1px solid black;
}

.buttonP {
    font-size: 40px;
    display:block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: #f1f1f1;
    margin: 1px !important;
}

.keypadButton{
    background-color: #53565a;
}

.SpecialButton {
    background-color: transparent;  
    color: #53565a;
}

.SpecialButton:active {
    background-color: #53565a;  
    color: #EF7917 !important;
}

.call {
    background-color: #00BD08;
}

.call:hover {
    background-color: #09a00e !important;
}

button:hover {
    background-color: #434547 !important;
    color: #f1f1f1 !important;
}

.keypadButton:active {
    background-color: #434547 !important;
    color: #EF7917 !important;
}

.turnOff {
    background-color: red;
}

.receiving {
    margin-left: 120px !important;
}

.turnOff:hover {
    background-color: rgb(235, 10, 10) !important;
}

#songConf {
    margin: 55px 0px 20px 0px;
    display: flex;
    align-items: center;
}

/* estilização da tela de ligação */
.containerCall{
    flex-direction: column;
    align-self: center;
}

.containerCall > h1 {
    align-items: center;
}

.viewCalling {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.viewCalling > h1 {
    /* font-size: 30px; */
    width: 265px !important;
    border-color: #fff !important;
    font-size: 30px;
    margin: -1px 0px;
}

.viewCalling > i {
    font-size: 30px;
    margin-left: 15px;
    color: #53565a;
    margin: 15px 0px;
}

.viewCalling > i:hover{
    color: #434547 !important;
    transition: 0.8s;
    justify-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-radius: 5px;
    background: #53565a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 2px 0px;
    border-bottom: 0px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EF7917;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EF7917;
    cursor: pointer;
}

.containerReceiving {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}