nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #53565a;
    height: 6vh;
}

.nav-item {
    flex: 0 0 8%;
    text-align: center;
    margin: 0px 1px;
}

.nav-item a {
    position: relative;
    z-index: 0;
}

.nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: left center;
    background: #282a2c;
    z-index: -1;
    transition: transform 0.3s;
}

.nav-item a:hover::after {
    transform: scaleY(1);
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    height: 6vh;
    align-items: center;
    justify-content: center;
}

/* Dropdown*/

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #53565a;
    min-width: 154px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop:hover .dropdown-content {
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content > a{
    border-top: 1px solid #282a2c;
}

.selected {
    background-color: #282a2c;
    color: #EF7917 !important;
    text-decoration: none;
}
