body {
	margin: 0;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
}

h1,h2,h3,h4{
	margin: 0px;
}

.container {
	display: flex;
	padding: 0px 20px;
}

input {
	width: 100%;
	border: none;
	padding: 5px 0px;
	background: none;
	outline: none;
  border-bottom: 1px solid #EF7917;
}

input:hover, input:focus {
  border-bottom: 1.5px solid #EF7917;
}

i {
  cursor:pointer;
}

input::placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-top: 15px;
}

button:hover {
  color: #EF7917;
  transition: 0.6s;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 0 !important;
  background-color: #fff;
  border-radius: 5px;
}

table thead tr th {
  text-align: start;
  font-size: 14px;
  padding: 10px;
}

th{
  text-align:left;
  padding-left: 0.5%;
}

table tbody tr td {
  padding: 10px;
  text-align: left;
}

table tbody tr td div {
  display: flex;
  flex-wrap: wrap;
}

table tbody tr td div label {
  flex: 1 1 0%;
  padding: 10px;
}

table tbody tr {
  border-top: 1px solid #282a2c;
}

select {
  background-color: #ececec;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  transition: 0.4s;

}
form {
  margin-top: 3%;
  
}
label{
  margin-right: 5%;
  
}

.bg-orange {
  background-color: #EF7917;
}

.bg-graphite {
  background-color: #282a2c;
}

.orange {
  color: #EF7917;
}

.graphite {
  color:#282a2c;
}

.listContainer {
  margin-left: .7vw;
  padding-top: 5vh;
  height: 77vh;
  overflow: auto;
}

.addbutton{
  float: right;
  color: #EF7917;
  margin-right: 2%;
  height: 4vh;
}

.addUsuarioContainer{
  margin: 10% 30%;
}


.tablebutton{
  color: #282a2c;
  font-size: 20px
}

.loginPage{
  background-color: #F1F1F1;
  display:flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  width: 500px;
}

.logContainer img{
  margin-bottom: 30px;
}

.logContainer form{
  width:100%;
}

.logContainer form input{
  margin-top: 20px;
}

.title-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.title-home > h1 {
  font-size: 34px;
  font-weight: 300;
}

/*form*/
.form-group {
  margin-bottom: 20px;
  display: flex;
    flex-direction: column;
}


/*Scroll bar*/

.contact-box::-webkit-scrollbar, .text-box::-webkit-scrollbar, .listContainer::-webkit-scrollbar {
  width: .7vw;
}

.contact-box::-webkit-scrollbar-track, .text-box::-webkit-scrollbar-track, .listContainer::-webkit-scrollbar-track {
  background: #fff;
}

.contact-box::-webkit-scrollbar-thumb, .text-box::-webkit-scrollbar-thumb, .listContainer::-webkit-scrollbar-thumb {
  background-color: #C0C0C0;
  border-radius: 1vw;
  border: .1vw solid #fff;
}