.brand {
    height: 11vh;
    width: 100%;
    background-color: #282a2c;
    display: flex;
    justify-content: flex-end;
}

.logo {
    position: absolute;
    top: 5.5vh;
    height: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navUser {
    display: flex;
    align-items: center;
}

.navText {
    color: #fff;
    display: grid;
    text-align: end;
    font-size: 13px;
}

label {
    margin-right: 0% !important;
}

.navUser >  i {
    padding: 0px 15px !important;
}